.recipeDetailsWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 90%;
  margin: 2rem auto;
}

@media screen and (min-width: 1024px) {
  .recipeDetailsWrapper {
    flex-direction: row;
    max-width: 80%;
  }
}
