.step-card {
  color: var(--colorGreen);
  padding: 2rem;
  width: 100%;
}

.step-card-title {
  font-size: 25px;
  margin-bottom: 30px;
}

.step-card-steps {
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .step-card {
    width: 50%;
  }
}
