.search-page {
  color: var(--colorGreen);
}

.search-page-main-title {
  font-size: 30px;
  padding: 1rem;
}

.search-page-main-title span {
  color: var(--colorYellow);
}

.search-page-cards-wrapper {
  padding: 1rem;
}

.search-page-no-title {
  font-size: 30px;
}

@media screen and (min-width: 1024px) {
  .search-page-main-title {
    font-size: 50px;
    padding: 2rem;
  }

  .search-page-cards-wrapper {
    padding: 2rem;
  }
}
