.searchPage {
  color: var(--colorGreen);
}

.searchPageMainTitle {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 800;
  color: var(--colorGreen);
  margin-bottom: 1rem;
}

.searchPageMainTitle span {
  color: var(--colorYellow);
}

.searchPageCardsWrapper {
  padding: 1rem;
}

.searchPageNoTitle {
  font-size: 30px;
  padding: 2rem;
}

.pagination {
  display: flex;
  gap: 7px;
  margin: 1rem auto 3rem;
  width: max-content;
}

.pageButtons {
  margin: 0 0.2rem;
}

@media screen and (min-width: 1024px) {
  .searchPageMainTitle {
    font-size: 2.5em;
    padding: 2rem;
  }

  .searchPageCardsWrapper {
    padding: 2rem;
  }
}
