.requirements-section {
  color: var(--colorWhite);
  background-color: var(--bgDarkGrey);
  padding: 2rem 1rem;
}

.requirements-section .heading {
  text-align: center;
  margin-bottom: 2rem;
}

.requirements-section .heading p {
  margin-top: 1rem;
}

.requirements-section .requirements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .requirements-section {
    padding: 5rem;
  }

  .requirements-section .heading {
    width: 60%;
    margin: 3rem auto;
  }

  .requirements-section .requirements {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .requirements-section .requirement-item {
    flex-basis: 49%;
  }

  .requirements-section .requirement-item.is-full {
    flex-basis: 100%;
  }
}
