.title {
  position: relative;
  margin-bottom: 1rem;
  display: inline-block;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 6px;
  display: inline-block;
  height: 2px;
  width: 80%;
  background-color: var(--colorGreen);
}

h4 {
  font-weight: 500;
  font-size: 16px;
}

h4.title::after {
  left: 0px;

  width: 100%;
}
