.container {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.link {
  background-color: #457b66;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  padding: 10px 20px;
}

.link:hover {
  background-color: #457b668e;
}

@media screen and (max-width: 900px) {
  .container {
    display: none;
  }
}
