.recetas_container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  padding: 20px 10px;
  
}

.titulo_recetas {
  width: 100%; 
  margin-left: 180px;
  margin-bottom: 10px; 
  font-size: 30px;
}

.subtitulo_recetas {
  width: 180%; 
  text-align:justify; 
  margin-left: 180px;
  font-size: 15px;
}

.receta {
  margin: 20px; 
  text-align: center; 
}

.receta_img {
  width: 250px; 
  height: 310px; 
}

.receta_desc {
  top: 10px; 
  left: 5px; 
  right: 5px; 
  padding: 10px; 
  background-color: rgba(35, 73, 36, 0.3); 
  color: rgb(37, 35, 35); 
  font-size: 15px;
}

.receta_link{
  text-decoration: underline;
  color: rgb(36, 58, 43);
}