footer {
  color: var(--colorWhite);
  background-color: var(--colorGreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.footerCol {
  width: 100%;
}

.footerSearch {
  position: relative;
  margin-bottom: 10px;
  background-color: var(--colorBgLightGreen);
  height: 50px;
}

.footerSearch .icon {
  position: absolute;
  left: 5px;
  top: 10px;
  font-size: 30px;
}

.footerSearch .searchInput {
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 40px;
  color: var(--colorWhite);
}

.footerSearch .searchInput::placeholder {
  color: var(--colorWhite);
}

.footerSocialNav ul {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

.footerAnchors a {
  transition: color 0.5s ease;
}

.footerAnchors a:hover {
  color: var(--colorYellow);
}

.footerMenus a {
  font-size: 13px;
}

.footerColNav h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-internal-nav {
  margin-bottom: 20px;
}

.footerInternalNav ul li,
.footerCompanyNav ul li {
  margin-bottom: 5px;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 3rem 4rem;
    flex-direction: row;
    align-items: flex-start;
  }

  .footerCol {
    width: 30%;
  }

  .footerColNav {
    display: flex;
    gap: 60px;
  }

  .footerColNav h3 {
    font-size: 15px;
  }

  .footerMenus a {
    font-size: 14px;
  }
}
