footer {
  color: var(--colorWhite);
  background-color: var(--bgDarkGrey);
}

footer .detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

footer .logo {
  margin-bottom: 2rem;
}

footer .logo span {
  color: var(--colorGreen);
}

footer p,
footer a {
  font-size: 14px;
}

footer .details p {
  margin-bottom: 5px;
}

footer .nav-list li {
  margin-bottom: 7px;
}

footer .nav-list a {
  color: #aaaaaa;
  transition: color 0.5s ease;
}

footer .nav-list a:hover {
  color: var(--colorWhite);
}

footer .nav-list a span {
  color: #fff;
  font-size: 10px;
  display: inline-block;
  margin-right: 5px;
}

footer .copyright {
  background-color: var(--colorBlack);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

footer .copyright p {
  margin-bottom: 1rem;
}

footer .social-list {
  display: flex;
  gap: 1rem;
}

footer .social-list li {
  cursor: pointer;
  transition: color 0.5s ease;
}

footer .social-list li:hover {
  color: var(--colorGreen);
}

@media screen and (min-width: 1024px) {
  footer .detail-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25rem;
    padding: 5rem 15rem;
  }

  footer .copyright {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: left;
    padding: 1.5rem 4rem;
  }

  footer .copyright p {
    margin-bottom: 0;
  }
}
