.sliderContainer {
  margin: 40px 0 60px 0;
}

.sliderTitle {
  max-width: 1280px;
  margin: 0 0 20px 195px;
  font-size: 2.5em;
  font-weight: 800;
  color: var(--colorGreen);
}

.sliderWrapper {
  max-width: 980px;
  margin: 0 auto;
}

.sliderCard {
  max-width: 280px;
  flex-direction: column;
}

.slick-slide > div > div {
  display: flex;
  justify-content: center;
}

.slick-track {
  padding: 10px 0;
}

.sliderImg {
  width: 280px;
  height: 100%;
}

.sliderImgWrapper {
  align-items: center;
  display: flex;
  height: 190px;
  justify-content: center;
  overflow: hidden;
  width: 280px;
}

.SliderImgTitle {
  background-color: var(--colorYellow);
  flex-direction: row;
  text-align: center;
  padding: 10px 0;
  color: var(--colorGreen);
  font-weight: 400;
}

.slick-prev,
.slick-next,
.slick-prev:before,
.slick-next:before {
  z-index: 1;
  color: var(--colorGreen);
}

/* 768px */
@media screen and (max-width: 768px) {
  .sliderTitle {
    margin: 0 10px 20px 10px;
    font-size: 1.5em;
  }

  .sliderCard {
    max-width: 100%;
  }

  .sliderImg {
    width: 100%;
  }

  .sliderImgWrapper {
    height: 150px;
  }

  .SliderImgTitle {
    padding: 5px 0;
  }
}

/* 480px */
@media screen and (max-width: 480px) {
  .sliderTitle {
    font-size: 1.2em;
  }

  .sliderImgWrapper {
    height: 120px;
  }

  .SliderImgTitle {
    padding: 3px 0;
  }
}
