.sliderContainer {
    margin: 40px 0 60px 0;
}

.sliderTitle {
    max-width: 1280px;
    margin: 0 0 20px 195px;
    font-size: 2.5em;
    font-weight: 800;
    color: var(--colorGreen);
}

.sliderWrapper {
    max-width: 980px;
    margin: 0 auto;
}

.sliderCard {
    max-width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliderImg {
    width: 100%;
    height: 100%;
}

.sliderImgWrapper {
    align-items: center;
    display: flex;
    height: 60%;
    justify-content: center;
    overflow: hidden;
    width: 280px;
}

.SliderImgTitle {
    background-color: var(--colorYellow);
    flex-direction: row;
    text-align: center;
    padding: 10px 0;
    color: var(--colorGreen);
    font-weight: 400;
}

.sliderSubtitle {
    color: var(--colorGreen);
    margin-left: 195px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* 1024px */
@media screen and (max-width: 1024px) {
    .sliderCard {
        max-width: calc(100% / 2);
    }
}

/* 768px */
@media screen and (max-width: 768px) {
    .sliderImgWrapper {
        width: 200px;
    }

    .sliderContainer {
        margin: 40px 20px 60px 20px;
    }

    .sliderTitle {
        margin: 0 auto 20px auto;
        text-align: center;
    }
}

/* 600px */
@media screen and (max-width: 600px) {
    .sliderContainer {
        margin: 40px 20px 60px 20px;
    }

    .sliderCard {
        max-width: 100%;
    }

    .SliderImgTitle {
        padding: 5px 0;
    }

    .sliderSubtitle {
        margin-left: 90px !important;
        font-size: 14px;
    }
}

/* 480px */
@media screen and (max-width: 480px) {
    .sliderTitle {
        font-size: 1.2em;
    }

    .SliderImgTitle {
        padding: 3px 0;
    }

    .sliderContainer .sliderSubtitle {
        margin-left: 25px !important;
        font-size: 14px;
    }
}
