.slick-prev,
.slick-next,
.slick-prev:before,
.slick-next:before {
  z-index: 1 !important;
  color: var(--colorGreen) !important;
}


.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slide > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}